Node-RED/M2M/m2m_with_LED.json
[{"id":"e3d80f0c.d2741","type":"tab","label":"Connected Factory","disabled":false,"info":""},{"id":"64f78726.705188","type":"mqtt in","z":"e3d80f0c.d2741","name":"","topic":"factory/touchSensorState","qos":"2","datatype":"auto","broker":"46481205.0bc9fc","x":560,"y":140,"wires":[["f773e685.4ef4d8","28254701.e60ff8","c8d9658b.13d858"]]},{"id":"275084c0.ba2a5c","type":"mqtt out","z":"e3d80f0c.d2741","name":"indicatorLight","topic":"factory/indicatorLight","qos":"","retain":"","broker":"46481205.0bc9fc","x":740,"y":320,"wires":[]},{"id":"f773e685.4ef4d8","type":"ui_led","z":"e3d80f0c.d2741","group":"85e9ddd4.f724d","order":0,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"LED","x":790,"y":140,"wires":[]},{"id":"ed14ac81.4964b","type":"ui_switch","z":"e3d80f0c.d2741","name":"Factory Light","label":"Indicator:","tooltip":"","group":"85e9ddd4.f724d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"factory/indicatorLight","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":320,"wires":[["275084c0.ba2a5c"]]},{"id":"28254701.e60ff8","type":"debug","z":"e3d80f0c.d2741","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":220,"wires":[]},{"id":"8ce5eef1.7b6e9","type":"comment","z":"e3d80f0c.d2741","name":"On the LED","info":"If you don't have the LED installed, you can also use a text object instead and remove the LED.","x":930,"y":140,"wires":[]},{"id":"c8d9658b.13d858","type":"ui_text","z":"e3d80f0c.d2741","group":"85e9ddd4.f724d","order":14,"width":0,"height":0,"name":"","label":"LED status:","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":60,"wires":[]},{"id":"46481205.0bc9fc","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85e9ddd4.f724d","type":"ui_group","z":"","name":"Connected Factory","tab":"d1cf2b73.ca4488","order":2,"disp":true,"width":"6","collapse":false},{"id":"d1cf2b73.ca4488","type":"ui_tab","z":"","name":"Connected Factory","icon":"dashboard","disabled":false,"hidden":false}]
