Node-RED/M2M/m2m_eind_deel2.json
[{"id":"368076a0.73630a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d2ebc93.94fa44","type":"mqtt in","z":"368076a0.73630a","name":"","topic":"factory/indicatorLightState","qos":"2","datatype":"auto","broker":"ac4f18ae.ef215","x":250,"y":140,"wires":[["3adc1f74.9ea77","33485e90.133ee2"]]},{"id":"8072bb5b.53e4d8","type":"mqtt out","z":"368076a0.73630a","name":"IndicatorLight","topic":"factory/indicatorLight","qos":"","retain":"","broker":"ac4f18ae.ef215","x":430,"y":280,"wires":[]},{"id":"c95960e8.4119f","type":"ui_switch","z":"368076a0.73630a","name":"","label":"Indicator Switch","tooltip":"","group":"6471a8b7.8fc4b8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":280,"wires":[["8072bb5b.53e4d8"]]},{"id":"3adc1f74.9ea77","type":"debug","z":"368076a0.73630a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":140,"wires":[]},{"id":"33485e90.133ee2","type":"ui_text","z":"368076a0.73630a","group":"6471a8b7.8fc4b8","order":1,"width":0,"height":0,"name":"","label":"Indicator Light State:","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":220,"wires":[]},{"id":"a4758b23.bd6f18","type":"mqtt in","z":"368076a0.73630a","name":"","topic":"factory/touchSensorState","qos":"2","datatype":"auto","broker":"ac4f18ae.ef215","x":260,"y":460,"wires":[["8f74eda3.0ca47"]]},{"id":"8f74eda3.0ca47","type":"ui_text","z":"368076a0.73630a","group":"6471a8b7.8fc4b8","order":2,"width":0,"height":0,"name":"","label":"TouchSensor State:","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":460,"wires":[]},{"id":"ac4f18ae.ef215","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6471a8b7.8fc4b8","type":"ui_group","z":"","name":"Signal Light","tab":"10363a86.7f6555","order":1,"disp":true,"width":"6","collapse":false},{"id":"10363a86.7f6555","type":"ui_tab","z":"","name":"My First Machine","icon":"dashboard","order":1,"disabled":false,"hidden":false}]